// variable
:root {
    --font-body: "Inter", sans-serif;
    --font-heading: 'Recoleta';

    --color-primary: #0B3948;

    --color-heading:  #0b3948;
    --color-default: #5d6a83;
    --color-default-two: #4c6a6d;
    --color-yellow:  #ffd470;
    --xb-track-color: #06083c;
    --color-dark: #0F172A;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #F8F8F8;
    --color-border: #EFF5F8;
    --color-body: #F7F5F2;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}